<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_cloud_1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{1063,149}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{1063,149}}</string>
                <key>sourceSize</key>
                <string>{1067,149}</string>
            </dict>
            <key>background_cloud_2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,153},{1063,123}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{1063,123}}</string>
                <key>sourceSize</key>
                <string>{1067,149}</string>
            </dict>
            <key>background_sea1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{960,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,269}}</string>
                <key>sourceSize</key>
                <string>{960,269}</string>
            </dict>
            <key>background_sea2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,317}}</string>
                <key>sourceSize</key>
                <string>{960,317}</string>
            </dict>
            <key>beach_adornment-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,278},{1059,172}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{1059,172}}</string>
                <key>sourceSize</key>
                <string>{1067,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:844702a21f0c93032109f599786f4fe4$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
