<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sailing_boat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{74,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,122}}</string>
                <key>sourceSize</key>
                <string>{78,126}</string>
            </dict>
            <key>sailing_boat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{70,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{70,122}}</string>
                <key>sourceSize</key>
                <string>{78,126}</string>
            </dict>
            <key>sailing_boat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,122}}</string>
                <key>sourceSize</key>
                <string>{78,126}</string>
            </dict>
            <key>seagull1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,212},{46,32}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>seagull2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,88},{44,26}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{44,26}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>seagull3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,212},{40,30}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>tool-bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tool-find.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,116},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tool-refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tool-time.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,126},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d6583679e1e4b84cd8b1b70de24b173$</string>
            <key>textureFileName</key>
            <string>animation.png</string>
        </dict>
    </dict>
</plist>
