<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_achievement.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,697},{76,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,541},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,541},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_leaderboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,697},{76,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,597},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,619},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,619},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,613},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,421},{207,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,82}}</string>
                <key>sourceSize</key>
                <string>{207,82}</string>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,613},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,675},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,527},{72,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,421},{113,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,118}}</string>
                <key>sourceSize</key>
                <string>{113,118}</string>
            </dict>
            <key>game_dlg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{666,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,470}}</string>
                <key>sourceSize</key>
                <string>{666,470}</string>
            </dict>
            <key>game_leisure_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,505},{86,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>game_menu_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{337,343}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,343}}</string>
                <key>sourceSize</key>
                <string>{343,343}</string>
            </dict>
            <key>island-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,347},{299,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,72}}</string>
                <key>sourceSize</key>
                <string>{299,72}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,474},{58,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,20}}</string>
                <key>sourceSize</key>
                <string>{58,20}</string>
            </dict>
            <key>linklink2_title_gb-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{605,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{605,123}}</string>
                <key>sourceSize</key>
                <string>{605,125}</string>
            </dict>
            <key>progressbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{568,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,26}}</string>
                <key>sourceSize</key>
                <string>{568,26}</string>
            </dict>
            <key>progressbar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{566,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,26}}</string>
                <key>sourceSize</key>
                <string>{568,26}</string>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,527},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>small_blue_number_level-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,505},{160,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,20}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>picturematch.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ec7bf8b836a716935537071f2372f2f:5fd3427f45634f9fdad54603f470a904:557b28d22bc1f0c7f533334e6318cf90$</string>
            <key>textureFileName</key>
            <string>picturematch.png</string>
        </dict>
    </dict>
</plist>
